header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  color: white;
  background-color: #50AFA2;
}

#brand {
  font-size: 30px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 15px;
}

section {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 50px;
}

article, aside {
  text-align: justify;
}

article {
  margin-right: 20px;
}

img {
  width: 100%;
  height: 200px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  border-top: solid;
  border-color: #50AFA2;
}

#contact {
  display: flex;
}

#contact p {
  margin-right: 15px;
}

#social {
  display: flex;
  margin-right: 20px;
}

#social img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

@media (max-width: 640px) {
  header {
    display: flex;
    align-items: center;
    color: #50AFA2;
    background-color: white;
    border-bottom: solid;
    border-color: #50AFA2;
  }

  nav {
    width: auto;
    text-align: left;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    padding-left: 4px;
  }

  #banner {
    display: none;
  }

  section {
    flex-direction: column;
  }

  footer {
    justify-content: space-around;
    margin-right: 0px;
    margin-left: 0px;
  }

  #contact {
    flex-direction: column;
    padding-top: 10px;
  }

  #contact p {
    margin: 0px;
  }

  #social {
    margin-right: 0px;
  }

}
